In [67]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [68]:
data_train = pd.read_csv('train_Loan.csv')
data_test = pd.read_csv('test_Loan.csv')

In [69]:
data_train.shape

(614, 13)

In [70]:
data_test.shape

(367, 12)

In [71]:
data_train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [72]:
data_train.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [73]:
data_train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [74]:
data_test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [75]:
def get_combined_data():
    train = pd.read_csv('train_Loan.csv')
    test = pd.read_csv('test_Loan.csv')
    targets = train.Loan_Status
    train.drop('Loan_Status', 1, inplace=True)
    combined_ds = train.append(test)
    combined_ds.reset_index(inplace=True)
    combined_ds.drop(['index', 'Loan_ID'], inplace=True, axis=1)
    return combined_ds

In [76]:
combined_ds = get_combined_data()
combined_ds.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,981.000000,981.000000,954.000000,961.000000,902.000000
mean,5179.795107,1601.916330,142.511530,342.201873,0.835920
std,5695.104533,2718.772806,77.421743,65.100602,0.370553
min,0.000000,0.000000,9.000000,6.000000,0.000000
25%,2875.000000,0.000000,100.000000,360.000000,1.000000
50%,3800.000000,1110.000000,126.000000,360.000000,1.000000
75%,5516.000000,2365.000000,162.000000,360.000000,1.000000
max,81000.000000,41667.000000,700.000000,480.000000,1.000000

In [77]:
combined_ds.isnull().sum()

Gender               24
Married               3
Dependents           25
Education             0
Self_Employed        55
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           27
Loan_Amount_Term     20
Credit_History       79
Property_Area         0
dtype: int64

In [78]:
combined_ds['Gender'].fillna('Male', inplace=True)

In [79]:
combined_ds['Married'].fillna('Yes', inplace=True)

In [80]:
combined_ds['Self_Employed'].fillna('No', inplace=True)

In [81]:
combined_ds['LoanAmount'].fillna(combined_ds['LoanAmount'].median(), inplace=True)

In [82]:
combined_ds['Credit_History'].fillna(2, inplace=True)

In [83]:
combined_ds.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [84]:
numerics = ['float64', 'int64']
objects_ds = combined_ds.select_dtypes(exclude=numerics)

In [85]:
newdatadf = objects_ds
for i in list(objects_ds.columns):
    newdatadf[i] = pd.Categorical(objects_ds[i]) # Convert all the variables into categorical
dummy = pd.get_dummies(newdatadf)
dummy.describe

C:\Users\Swetha\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<bound method NDFrame.describe of      Gender_Female  Gender_Male  Married_No  Married_Yes  Dependents_0  \
0                0            1           1            0             1
1                0            1           0            1             0
2                0            1           0            1             1
3                0            1           0            1             1
4                0            1           1            0             1
5                0            1           0            1             0
6                0            1           0            1             1
7                0            1           0            1             0
8                0            1           0            1             0
9                0            1           0            1             0
10               0            1           0            1             0
11               0            1           0            1             0
12               0            1           0            1             0
13               0            1           1            0             1
14               0            1           0            1             0
15               0            1           1            0             1
16               0            1           1            0             0
17               1            0           1            0             1
18               0            1           0            1             1
19               0            1           0            1             1
20               0            1           0            1             1
21               0            1           0            1             0
22               0            1           0            1             1
23               0            1           0            1             0
24               0            1           0            1             0
25               0            1           0            1             1
26               0            1           0            1             1
27               0            1           0            1             0
28               0            1           1            0             1
29               1            0           1            0             0
..             ...          ...         ...          ...           ...
951              0            1           0            1             1
952              0            1           0            1             0
953              1            0           1            0             1
954              0            1           0            1             1
955              0            1           1            0             1
956              0            1           0            1             0
957              0            1           0            1             0
958              0            1           1            0             1
959              0            1           0            1             0
960              0            1           0            1             1
961              0            1           1            0             1
962              0            1           0            1             0
963              0            1           0            1             1
964              0            1           0            1             0
965              0            1           1            0             1
966              0            1           0            1             1
967              0            1           0            1             1
968              0            1           0            1             0
969              0            1           0            1             0
970              0            1           0            1             0
971              0            1           1            0             1
972              0            1           0            1             0
973              0            1           1            0             1
974              1            0           0            1             1
975              0            1           0            1             0
976              0            1           0            1             0
977              0            1           0            1             1
978              0            1           1            0             1
979              0            1           0            1             1
980              0            1           1            0             1

     Dependents_1  Dependents_2  Dependents_3+  Education_Graduate  \
0               0             0              0                   1
1               1             0              0                   1
2               0             0              0                   1
3               0             0              0                   0
4               0             0              0                   1
5               0             1              0                   1
6               0             0              0                   0
7               0             0              1                   1
8               0             1              0                   1
9               1             0              0                   1
10              0             1              0                   1
11              0             1              0                   1
12              0             1              0                   1
13              0             0              0                   1
14              0             1              0                   1
15              0             0              0                   1
16              1             0              0                   0
17              0             0              0                   1
18              0             0              0                   0
19              0             0              0                   1
20              0             0              0                   0
21              1             0              0                   1
22              0             0              0                   0
23              0             1              0                   0
24              1             0              0                   1
25              0             0              0                   1
26              0             0              0                   1
27              0             1              0                   0
28              0             0              0                   0
29              0             1              0                   1
..            ...           ...            ...                 ...
951             0             0              0                   1
952             1             0              0                   1
953             0             0              0                   1
954             0             0              0                   1
955             0             0              0                   1
956             0             0              1                   0
957             1             0              0                   1
958             0             0              0                   1
959             0             0              1                   1
960             0             0              0                   1
961             0             0              0                   0
962             0             1              0                   0
963             0             0              0                   1
964             0             1              0                   1
965             0             0              0                   1
966             0             0              0                   1
967             0             0              0                   1
968             0             0              1                   0
969             0             0              1                   1
970             1             0              0                   1
971             0             0              0                   1
972             0             1              0                   0
973             0             0              0                   1
974             0             0              0                   1
975             1             0              0                   1
976             0             0              1                   0
977             0             0              0                   1
978             0             0              0                   1
979             0             0              0                   1
980             0             0              0                   1

     Education_Not Graduate  Self_Employed_No  Self_Employed_Yes  \
0                         0                 1                  0
1                         0                 1                  0
2                         0                 0                  1
3                         1                 1                  0
4                         0                 1                  0
5                         0                 0                  1
6                         1                 1                  0
7                         0                 1                  0
8                         0                 1                  0
9                         0                 1                  0
10                        0                 1                  0
11                        0                 1                  0
12                        0                 1                  0
13                        0                 1                  0
14                        0                 1                  0
15                        0                 1                  0
16                        1                 1                  0
17                        0                 1                  0
18                        1                 1                  0
19                        0                 1                  0
20                        1                 1                  0
21                        0                 1                  0
22                        1                 1                  0
23                        1                 1                  0
24                        0                 1                  0
25                        0                 0                  1
26                        0                 1                  0
27                        1                 1                  0
28                        1                 1                  0
29                        0                 1                  0
..                      ...               ...                ...
951                       0                 1                  0
952                       0                 0                  1
953                       0                 1                  0
954                       0                 0                  1
955                       0                 0                  1
956                       1                 1                  0
957                       0                 1                  0
958                       0                 1                  0
959                       0                 1                  0
960                       0                 1                  0
961                       1                 1                  0
962                       1                 1                  0
963                       0                 0                  1
964                       0                 1                  0
965                       0                 1                  0
966                       0                 1                  0
967                       0                 1                  0
968                       1                 1                  0
969                       0                 1                  0
970                       0                 1                  0
971                       0                 1                  0
972                       1                 1                  0
973                       0                 1                  0
974                       0                 1                  0
975                       0                 1                  0
976                       1                 0                  1
977                       0                 1                  0
978                       0                 1                  0
979                       0                 1                  0
980                       0                 0                  1

     Property_Area_Rural  Property_Area_Semiurban  Property_Area_Urban
0                      0                        0                    1
1                      1                        0                    0
2                      0                        0                    1
3                      0                        0                    1
4                      0                        0                    1
5                      0                        0                    1
6                      0                        0                    1
7                      0                        1                    0
8                      0                        0                    1
9                      0                        1                    0
10                     0                        0                    1
11                     0                        0                    1
12                     0                        0                    1
13                     1                        0                    0
14                     0                        0                    1
15                     0                        0                    1
16                     0                        0                    1
17                     0                        0                    1
18                     1                        0                    0
19                     0                        0                    1
20                     0                        0                    1
21                     0                        0                    1
22                     0                        1                    0
23                     1                        0                    0
24                     0                        1                    0
25                     0                        1                    0
26                     0                        1                    0
27                     0                        0                    1
28                     0                        0                    1
29                     0                        1                    0
..                   ...                      ...                  ...
951                    0                        0                    1
952                    1                        0                    0
953                    1                        0                    0
954                    0                        1                    0
955                    1                        0                    0
956                    1                        0                    0
957                    0                        0                    1
958                    1                        0                    0
959                    0                        0                    1
960                    1                        0                    0
961                    0                        0                    1
962                    0                        0                    1
963                    1                        0                    0
964                    1                        0                    0
965                    1                        0                    0
966                    0                        0                    1
967                    1                        0                    0
968                    0                        1                    0
969                    0                        0                    1
970                    0                        0                    1
971                    0                        0                    1
972                    1                        0                    0
973                    0                        1                    0
974                    0                        0                    1
975                    0                        1                    0
976                    0                        0                    1
977                    0                        0                    1
978                    0                        1                    0
979                    1                        0                    0
980                    1                        0                    0

[981 rows x 15 columns]>

In [86]:
combined_ds['Gender'] = combined_ds['Gender'].map({'Male':1,'Female':0})

In [87]:
combined_ds['Education'] = combined_ds['Education'].map({'Graduate':1,'Not Graduate':0})

In [88]:
combined_ds['Self_Employed'] = combined_ds['Self_Employed'].map({'Yes':1,'No':0})

In [89]:
combined_ds['Total_income'] = combined_ds['ApplicantIncome']+combined_ds['CoapplicantIncome']
combined_ds.drop(['ApplicantIncome','CoapplicantIncome'],inplace=True,axis = 1)

In [90]:
 pd.get_dummies(combined_ds, columns=['Dependents'])

,Gender,Married,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Total_income,Dependents_0,Dependents_1,Dependents_2,Dependents_3+
0,1,No,1,0,126.0,360.0,1.0,Urban,5849.0,1,0,0,0
1,1,Yes,1,0,128.0,360.0,1.0,Rural,6091.0,0,1,0,0
2,1,Yes,1,1,66.0,360.0,1.0,Urban,3000.0,1,0,0,0
3,1,Yes,0,0,120.0,360.0,1.0,Urban,4941.0,1,0,0,0
4,1,No,1,0,141.0,360.0,1.0,Urban,6000.0,1,0,0,0
5,1,Yes,1,1,267.0,360.0,1.0,Urban,9613.0,0,0,1,0
6,1,Yes,0,0,95.0,360.0,1.0,Urban,3849.0,1,0,0,0
7,1,Yes,1,0,158.0,360.0,0.0,Semiurban,5540.0,0,0,0,1
8,1,Yes,1,0,168.0,360.0,1.0,Urban,5532.0,0,0,1,0
9,1,Yes,1,0,349.0,360.0,1.0,Semiurban,23809.0,0,1,0,0
10,1,Yes,1,0,70.0,360.0,1.0,Urban,3900.0,0,0,1,0
11,1,Yes,1,0,109.0,360.0,1.0,Urban,4340.0,0,0,1,0
12,1,Yes,1,0,200.0,360.0,1.0,Urban,11179.0,0,0,1,0
13,1,No,1,0,114.0,360.0,1.0,Rural,4693.0,1,0,0,0
14,1,Yes,1,0,17.0,120.0,1.0,Urban,2385.0,0,0,1,0
15,1,No,1,0,125.0,360.0,1.0,Urban,4950.0,1,0,0,0
16,1,No,0,0,100.0,240.0,2.0,Urban,3596.0,0,1,0,0
17,0,No,1,0,76.0,360.0,0.0,Urban,3510.0,1,0,0,0
18,1,Yes,0,0,133.0,360.0,1.0,Rural,4887.0,1,0,0,0
19,1,Yes,1,0,115.0,NaN,1.0,Urban,6100.0,1,0,0,0
20,1,Yes,0,0,104.0,360.0,0.0,Urban,7660.0,1,0,0,0
21,1,Yes,1,0,315.0,360.0,1.0,Urban,11580.0,0,1,0,0
22,1,Yes,0,0,116.0,360.0,0.0,Semiurban,4511.0,1,0,0,0
23,1,Yes,0,0,112.0,360.0,0.0,Rural,5282.0,0,0,1,0
24,1,Yes,1,0,151.0,360.0,2.0,Semiurban,6642.0,0,1,0,0
25,1,Yes,1,1,191.0,360.0,1.0,Semiurban,9560.0,1,0,0,0
26,1,Yes,1,0,122.0,360.0,1.0,Semiurban,5052.0,1,0,0,0
27,1,Yes,0,0,110.0,360.0,1.0,Urban,5266.0,0,0,1,0
28,1,No,0,0,35.0,360.0,1.0,Urban,1442.0,1,0,0,0
29,0,No,1,0,120.0,360.0,1.0,Semiurban,5833.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,1,Yes,1,0,119.0,360.0,1.0,Urban,3850.0,1,0,0,0
952,1,Yes,1,1,87.0,240.0,1.0,Rural,5715.0,0,1,0,0
953,0,No,1,0,162.0,360.0,0.0,Rural,6666.0,1,0,0,0
954,1,Yes,1,1,122.0,180.0,1.0,Semiurban,7454.0,1,0,0,0
955,1,No,1,1,187.0,360.0,1.0,Rural,8247.0,1,0,0,0
956,1,Yes,0,0,81.0,180.0,1.0,Rural,3522.0,0,0,0,1
957,1,Yes,1,0,80.0,360.0,1.0,Urban,4700.0,0,1,0,0
958,1,No,1,0,176.0,360.0,1.0,Rural,6858.0,1,0,0,0
959,1,Yes,1,0,260.0,360.0,1.0,Urban,8334.0,0,0,0,1
960,1,Yes,1,0,133.0,360.0,0.0,Rural,5357.0,1,0,0,0
961,1,No,0,0,70.0,360.0,1.0,Urban,2868.0,1,0,0,0
962,1,Yes,0,0,135.0,360.0,1.0,Urban,4798.0,0,0,1,0
963,1,Yes,1,1,137.0,300.0,1.0,Rural,2796.0,1,0,0,0
964,1,Yes,1,0,254.0,360.0,1.0,Rural,8667.0,0,0,1,0
965,1,No,1,0,106.0,360.0,2.0,Rural,17283.0,1,0,0,0
966,1,Yes,1,0,109.0,360.0,1.0,Urban,6727.0,1,0,0,0
967,1,Yes,1,0,120.0,360.0,1.0,Rural,8888.0,1,0,0,0
968,1,Yes,0,0,158.0,180.0,0.0,Semiurban,5503.0,0,0,0,1
969,1,Yes,1,0,197.0,360.0,1.0,Urban,8816.0,0,0,0,1
970,1,Yes,1,0,85.0,360.0,1.0,Urban,5727.0,0,1,0,0
971,1,No,1,0,60.0,360.0,1.0,Urban,2500.0,1,0,0,0
972,1,Yes,0,0,76.0,360.0,2.0,Rural,3132.0,0,0,1,0
973,1,No,1,0,152.0,360.0,1.0,Semiurban,6667.0,1,0,0,0
974,0,Yes,1,0,96.0,360.0,2.0,Urban,12805.0,1,0,0,0
975,1,Yes,1,0,99.0,360.0,1.0,Semiurban,4436.0,0,1,0,0
976,1,Yes,0,1,113.0,360.0,1.0,Urban,5786.0,0,0,0,1
977,1,Yes,1,0,115.0,360.0,1.0,Urban,4867.0,1,0,0,0
978,1,No,1,0,126.0,360.0,2.0,Semiurban,5243.0,1,0,0,0
979,1,Yes,1,0,158.0,360.0,1.0,Rural,7393.0,1,0,0,0
980,1,No,1,1,98.0,180.0,1.0,Rural,9200.0,1,0,0,0

In [91]:
combined_ds['Debt_Income_Ratio'] = combined_ds['Total_income'] / combined_ds['LoanAmount']

In [92]:
combined_ds['Loan_Amount_Term'].value_counts()

360.0    823
180.0     66
480.0     23
300.0     20
240.0      8
84.0       7
120.0      4
36.0       3
60.0       3
12.0       2
350.0      1
6.0        1
Name: Loan_Amount_Term, dtype: int64

In [94]:
def process_Loan_Amt_term():
    global combined_ds
    combined_ds['Very_Short_Term'] = combined_ds['Loan_Amount_Term'].map(lambda t: 1 if t<=60 else 0)
    combined_ds['Short_Term'] = combined_ds['Loan_Amount_Term'].map(lambda t: 1 if t>60 and t<180 else 0)
    combined_ds['Long_Term'] = combined_ds['Loan_Amount_Term'].map(lambda t: 1 if t>=180 and t<=300  else 0)
    combined_ds['Very_Long_Term'] = combined_ds['Loan_Amount_Term'].map(lambda t: 1 if t>300 else 0)
    combined_ds.drop('Loan_Amount_Term', axis=1, inplace=True)

In [95]:
process_Loan_Amt_term()

In [96]:
def process_credit_history():
    global combined_ds
    combined_ds['Credit_History_Bad'] = combined_ds['Credit_History'].map(lambda c: 1 if c==0 else 0)
    combined_ds['Credit_History_Good'] = combined_ds['Credit_History'].map(lambda c: 1 if c==1 else 0)
    combined_ds['Credit_History_Unknown'] = combined_ds['Credit_History'].map(lambda c: 1 if c==2 else 0)
    combined_ds.drop('Credit_History', axis=1, inplace=True)

In [97]:
process_credit_history()

In [98]:
def process_property():
    global combined_ds
    property_dummies = pd.get_dummies(combined_ds['Property_Area'], prefix='Property')
    combined_ds = pd.concat([combined_ds, property_dummies], axis=1)
    combined_ds.drop('Property_Area', axis=1, inplace=True)

In [99]:
process_property()

In [101]:
def feature_scaling(df):
    df -= df.min()
    df /= df.max()
    return df

In [103]:
combined_ds['LoanAmount'] = feature_scaling(combined_ds['LoanAmount'])
combined_ds['Total_Income'] = feature_scaling(combined_ds['Total_income'])
combined_ds['Debt_Income_Ratio'] = feature_scaling(combined_ds['Debt_Income_Ratio'])

In [104]:
combined_ds[100:110]

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Total_income,Debt_Income_Ratio,Very_Short_Term,Short_Term,Long_Term,Very_Long_Term,Credit_History_Bad,Credit_History_Good,Credit_History_Unknown,Property_Rural,Property_Semiurban,Property_Urban,Total_Income
100,1,Yes,2,0,0,0.179450,0.076787,0.091216,0,0,1,0,0,1,0,0,0,1,0.076787
101,1,No,0,1,0,0.205499,0.090588,0.092194,0,0,0,1,0,1,0,0,1,0,0.090588
102,1,Yes,NaN,1,0,0.169320,0.153448,0.191287,0,0,0,1,0,1,0,0,0,1,0.153448
103,1,Yes,0,1,0,0.169320,0.085384,0.107875,0,0,0,1,0,1,0,0,1,0,0.085384
104,1,Yes,NaN,1,0,0.218524,0.039317,0.036459,0,0,0,1,0,1,0,0,0,1,0.039317
105,1,Yes,1,1,0,0.131693,0.033183,0.060250,0,0,0,1,0,1,0,0,0,1,0.033183
106,1,Yes,2,1,0,0.312590,0.139533,0.089221,0,0,0,1,0,1,0,0,0,1,0.139533
107,1,No,0,0,0,0.160637,0.074047,0.099628,0,0,0,1,0,1,0,1,0,0,0.074047
108,1,Yes,2,1,0,0.299566,0.074889,0.047516,0,0,0,1,1,0,0,0,0,1,0.074889
109,1,Yes,3+,0,0,0.123010,0.017384,0.039353,0,0,0,1,0,1,0,0,1,0,0.017384

In [105]:
combined_ds['Married'] = combined_ds['Married'].map({'Yes':1,'No':0})

In [106]:
def process_dependents():
    combined_ds['Singleton'] = combined_ds['Dependents'].map(lambda d: 1 if d=='1' else 0)
    combined_ds['Small_Family'] = combined_ds['Dependents'].map(lambda d: 1 if d=='2' else 0)
    combined_ds['Large_Family'] = combined_ds['Dependents'].map(lambda d: 1 if d=='3+' else 0)
    combined_ds.drop(['Dependents'], axis=1, inplace=True)

In [107]:
process_dependents()

In [108]:
combined_ds[100:120]

,Gender,Married,Education,Self_Employed,LoanAmount,Total_income,Debt_Income_Ratio,Very_Short_Term,Short_Term,Long_Term,...,Credit_History_Bad,Credit_History_Good,Credit_History_Unknown,Property_Rural,Property_Semiurban,Property_Urban,Total_Income,Singleton,Small_Family,Large_Family
100,1,1,0,0,0.179450,0.076787,0.091216,0,0,1,...,0,1,0,0,0,1,0.076787,0,1,0
101,1,0,1,0,0.205499,0.090588,0.092194,0,0,0,...,0,1,0,0,1,0,0.090588,0,0,0
102,1,1,1,0,0.169320,0.153448,0.191287,0,0,0,...,0,1,0,0,0,1,0.153448,0,0,0
103,1,1,1,0,0.169320,0.085384,0.107875,0,0,0,...,0,1,0,0,1,0,0.085384,0,0,0
104,1,1,1,0,0.218524,0.039317,0.036459,0,0,0,...,0,1,0,0,0,1,0.039317,0,0,0
105,1,1,1,0,0.131693,0.033183,0.060250,0,0,0,...,0,1,0,0,0,1,0.033183,1,0,0
106,1,1,1,0,0.312590,0.139533,0.089221,0,0,0,...,0,1,0,0,0,1,0.139533,0,1,0
107,1,0,0,0,0.160637,0.074047,0.099628,0,0,0,...,0,1,0,1,0,0,0.074047,0,0,0
108,1,1,1,0,0.299566,0.074889,0.047516,0,0,0,...,1,0,0,0,0,1,0.074889,0,1,0
109,1,1,0,0,0.123010,0.017384,0.039353,0,0,0,...,0,1,0,0,1,0,0.017384,0,0,1
110,1,0,1,0,0.183792,0.048694,0.056889,0,0,0,...,0,1,0,0,0,1,0.048694,0,0,0
111,0,1,1,0,0.188133,0.048015,0.054498,0,0,0,...,0,1,0,0,1,0,0.048015,0,0,0
112,1,1,0,0,0.206946,0.078484,0.079166,0,0,0,...,1,0,0,1,0,0,0.078484,0,0,0
113,0,0,1,1,0.169320,0.075530,0.095798,0,0,0,...,0,1,0,0,1,0,0.075530,1,0,0
114,1,0,1,0,0.157742,0.045351,0.064087,0,0,0,...,0,1,0,0,1,0,0.045351,0,0,0
115,1,1,1,0,0.254703,0.165175,0.134018,0,0,1,...,0,1,0,1,0,0,0.165175,1,0,0
116,0,1,1,0,0.209841,0.050378,0.049710,0,0,0,...,0,1,0,0,1,0,0.050378,0,0,0
117,1,1,1,0,0.109986,0.027276,0.063499,0,0,0,...,0,0,1,0,0,1,0.027276,1,0,0
118,1,1,1,0,0.240232,0.078785,0.066533,0,0,0,...,0,1,0,1,0,0,0.078785,0,0,0
119,0,0,1,0,0.361795,0.112698,0.059018,0,0,0,...,0,1,0,0,0,1,0.112698,0,0,0

In [111]:
def recover_train_test_target():
    targets = data_train['Loan_Status'].map({'Y':1,'N':0})
    train = combined_ds.head(614)
    test = combined_ds.iloc[614:]
    return train, test, targets

In [112]:
train, test, targets = recover_train_test_target()

In [113]:
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import accuracy_score
from sklearn import model_selection
from sklearn.metrics import classification_report
from IPython.display import display

In [116]:
Log_model = LogisticRegression()
Log_model.fit(train, targets)
Log_model_y_Prediction = Log_model.predict(test)

In [117]:
Log_model_y_Prediction[:10]

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [118]:
# Cannot check accuracy, as Test Data doesnt have y values

In [128]:
from sklearn import tree
DT_model = tree.DecisionTreeClassifier(criterion='gini') # for classification, here you can change the algorithm as gini or entropy (information gain) by default it is gini  
DT_model.fit(train, targets)
DT_model.score(train, targets)
#Predict Output
predicted_DT = DT_model.predict(test)

In [131]:
from sklearn.model_selection import cross_val_score
def compute_score(clf, X, y, scoring='accuracy'):
    xval = cross_val_score(clf, X, y, cv = 5, scoring=scoring)
    return np.mean(xval)

In [132]:
compute_score(DT_model, train, targets, scoring='accuracy')

0.695346377578001

In [133]:
compute_score(Log_model, train, targets, scoring='accuracy')

0.8095980962453728

In [135]:
output = Log_model.predict(test).astype(int)
df_output = pd.DataFrame()
aux = pd.read_csv('test_Loan.csv')
df_output['Loan_ID'] = aux['Loan_ID']
df_output['Loan_Status'] = np.vectorize(lambda s: 'Y' if s==1 else 'N')(output)
df_output[['Loan_ID','Loan_Status']].to_csv('Sample_Submission.csv',index=False)